@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img {
    /* background-image: linear-gradient(
        to right top,
        #046494,
        #007499,
        #008391,
        #008f7e,
        #339966
    ); */
    background-image: url("../../public/assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
