/* Import Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global Tag */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

#article {
    background-image: linear-gradient(to left top, #046494, #007499, #008391, #008f7e, #339966);
    width: 100%;
    background-size: cover;
    background-position: center;
}

#article-content {
    background-image: linear-gradient(to left top, #046494, #007499, #008391, #008f7e, #339966);
    width: 100%;
    min-height: 80vh;
    padding-top: 9rem;
    padding-bottom: 4rem;
    background-size: cover;
    background-position: center;
}

#article-edit {
    background-image: linear-gradient(to left top, #046494, #007499, #008391, #008f7e, #339966);
    width: 100%;
    min-height: 80vh;
    padding-top: 9rem;
    padding-bottom: 4rem;
    background-size: cover;
    background-position: center;
}

#article-card {
    transition: transform 0.2s ease;
}

#article-card:hover {
    transform: translateY(-10px);
}